In [ ]:
#!pip install pandas

In [8]:
import os
import pandas as pd

In [9]:
cwd = os.getcwd() # dirname(abspath(__file__))
BASE_DIR = os.path.dirname(cwd)
DATA_DIR = os.path.join(BASE_DIR, 'data')

In [10]:
os.listdir(DATA_DIR)

['2000.csv',
 '2001.csv',
 '2002.csv',
 '2003.csv',
 '2004.csv',
 '2005.csv',
 '2013.csv',
 '2014.csv',
 '2015.csv',
 '2016.csv',
 '2017.csv',
 '2018.csv',
 '2019.csv',
 '2020.csv',
 '2021.csv',
 '2022.csv',
 '2023.csv']

In [20]:
my_items = [{"category": "Action", "title": "My awesome movie"}, {"category": "Comedy", "title": "Data Jokes are Us"}]
df = pd.DataFrame(my_items)

In [21]:
df.head()

  category              title
0   Action   My awesome movie
1   Comedy  Data Jokes are Us

In [22]:
df["category"]

0    Action
1    Comedy
Name: category, dtype: object

In [23]:
df["title"]

0     My awesome movie
1    Data Jokes are Us
Name: title, dtype: object

In [24]:
df[0]

KeyError: 0

In [25]:
 df.iloc[0]

category              Action
title       My awesome movie
Name: 0, dtype: object

In [26]:
 df.iloc[1]

category               Comedy
title       Data Jokes are Us
Name: 1, dtype: object

In [27]:
 df.iloc[3]

IndexError: single positional indexer is out-of-bounds

In [30]:
my_data = os.path.join(DATA_DIR, '2019.csv')
print(os.path.exists(my_data))

True

In [31]:
df2 = pd.read_csv(my_data) #

In [32]:
df2.head(n=10)

,Rank,Release Group,Worldwide,Domestic,%,Foreign,%.1
0,1,Avengers: Endgame,"$2,799,439,100","$858,373,000",30.7%,"$1,941,066,100",69.3%
1,2,The Lion King,"$1,656,943,394","$543,638,043",32.8%,"$1,113,305,351",67.2%
2,3,Frozen II,"$1,450,026,933","$477,373,578",32.9%,"$972,653,355",67.1%
3,4,Spider-Man: Far from Home,"$1,131,927,996","$390,532,085",34.5%,"$741,395,911",65.5%
4,5,Captain Marvel,"$1,128,274,794","$426,829,839",37.8%,"$701,444,955",62.2%
5,6,Joker,"$1,074,251,311","$335,451,311",31.2%,"$738,800,000",68.8%
6,7,Star Wars: Episode IX - The Rise of Skywalker,"$1,074,144,248","$515,202,542",48%,"$558,941,706",52%
7,8,Toy Story 4,"$1,073,394,593","$434,038,008",40.4%,"$639,356,585",59.6%
8,9,Aladdin,"$1,050,693,953","$355,559,216",33.8%,"$695,134,737",66.2%
9,10,Jumanji: The Next Level,"$801,693,929","$320,314,960",40%,"$481,378,969",60%

In [33]:
df2.tail(n=10)

,Rank,Release Group,Worldwide,Domestic,%,Foreign,%.1
190,191,Shaft,"$21,360,215","$21,360,215",100%,-,-
191,192,Hotel Mumbai,"$21,314,816","$9,651,611",45.3%,"$11,663,205",54.7%
192,193,Integrity,"$21,290,004",-,-,"$21,290,004",100%
193,194,The Secret Mission,"$21,083,522",-,-,"$21,083,522",100%
194,195,This Is Tomas,"$20,084,169",-,-,"$20,084,169",100%
195,196,The Specials,"$19,363,826",-,-,"$19,363,826",100%
196,197,Always Miss You,"$19,015,465","$91,884",0.5%,"$18,923,581",99.5%
197,198,An Officer and a Spy,"$18,899,214",-,-,"$18,899,214",100%
198,199,Crayon Shin-chan: Honeymoon Hurricane - The Lo...,"$18,738,951",-,-,"$18,738,951",100%
199,200,Greta,"$18,653,107","$10,532,219",56.5%,"$8,120,888",43.5%